# MongoDB Configuration
MONGO_USER=admin
MONGO_PASS=senha123
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=btgpactualdb

# RabbitMQ Configuration
RABBIT_USER=admin
RABBIT_PASS=123456
RABBIT_HOST=localhost
RABBIT_PORT=5672

